@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --color-primario: #41506e;
  --color-secundario: black;
  --color-terciario: #d80027;
  --color-cuarto: #220a3d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  color: white;
  background: black;
}

button {
  background-color: var(--color-terciario);
  padding: 0.5rem;
  border: 2px white solid;
  border-radius: 2rem;
  cursor: pointer;
}

button:hover {
  background-color: #980520;
}

a:link,
a:visited {
  color: white;
}

/* ----------NAV---------- */

nav {
  background-color: var(--color-cuarto);
  color: white;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  /* height: 7rem; */
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

.items-container {
  display: flex;
  gap: 5rem;
  margin-top: 2rem;
  margin-right: 3rem;
  font-size: 1.5rem;
}

.logo {
  margin: 1rem;
  width: 100px;
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 100%;
  background-color: var(--color-primario);
  margin-top: -10px;
  border: 1px solid black;
  font-size: large;
  margin: 1rem;
}

.cart {
  cursor: pointer;
}

.barra {
  display: none;
  opacity: 0;
}

@media screen and (max-width: 1200px) {
  .barra {
    margin: 3rem 1.5rem;
    font-size: 3rem;
    display: flex;
    cursor: pointer;
    opacity: 1;
  }

  .items-container {
    flex-direction: column;
    display: none;
    gap: 1rem;
  }

  .show {
    display: flex;
  }

  .cart-container {
    margin: 3rem 3rem 0 0;
  }

  .nav-height {
    height: 10rem;
  }
}

/* ----------INICIO---------- */

#inicio {
  height: 80vh;
  width: 100%;
  background-image: url(img/fondo.jpg);
  background-size: cover;
  display: flex;
  gap: 10rem;
  padding: 2rem;
  justify-content: center;
  margin-top: 5rem;
}

.titulos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  #inicio {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  #inicio img {
    width: 130px;
    height: 200px;
  }

  .titulos {
    margin-top: 5rem;
  }
}

/* ----------FILTROS---------- */

#filtros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

#filtros h1 {
  margin: 3rem;
}

.botones {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
}

.botones button {
  width: 150px;
  height: 60px;
}

/* ----------RANDOM---------- */

#bebidas-random {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bebidas-random h1 {
  margin: 3rem;
}

.tbody {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.bebida-card {
  width: 300px;
  height: 500px;
  text-align: center;
  background-color: var(--color-primario);
  padding: 2rem;
  border-radius: 10px;
}

.bebida-card h1 {
  line-height: 1.5rem;
}

.bebida-card img {
  width: 150px;
  height: 150px;
  margin-top: 0.5rem;
}

.show {
  width: 30px;
  height: 30px;
}

.hide {
  display: none;
}

.btn-agregar {
  padding: 0.5rem;
  border: none;
  border-radius: 2rem;
}

.generar-mas-btn {
  margin-top: 2rem;
}

/* ***** CARRITO ****** */

.carrito {
  background-color: var(--color-cuarto);
  width: 500px;
  font-size: 18px;
  font-weight: 300;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 2rem;
  transform: translateX(100%);
  transition: transform 350ms ease-in;
  overflow: scroll;
  z-index: 1000;
}

.carrito[data-visible="true"] {
  transform: translateX(0%);
}

.btn-cerrar {
  text-align: right;
  font-size: 1.4em;
  margin: 1rem;
  cursor: pointer;
}

.carrito-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.titulo {
  font-size: 22px;
  padding: 20px 0;
  margin-top: 0.2rem;
  margin-bottom: 20px;
}

.item {
  display: flex;
  padding: 20px 0;
  background-color: rgba(65, 80, 110, 0.8);
  padding: 1rem;
  margin: 2rem 0;
  position: relative;
}

.img-carrito {
  width: 100px;
  height: 100px;
}

.textos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 2rem;
  font-size: small;
}

.precio {
  /* align-self: flex-end; */
  margin-top: 0.2rem;
}

.total {
  margin: 40px 0 20px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.pagar {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 30px;
  background-color: rgba(65, 80, 110, 0.8);
  box-shadow: 0 0 20px var(--color-secundario);
  color: white;
}

.btn-eliminar {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 1rem;
  color: white;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.cant {
  font-style: oblique;
}

@media screen and (max-width: 500px) {
  .carrito {
    width: 100%;
  }

  .guarnicion2::after {
    width: 100px;
  }
}

/* ***** FOOTER ***** */

footer {
  margin-top: 5rem;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10rem 8rem;
  display: flex;
}

.v-line {
  border-left: thick solid white;
  height: 100%;
  margin-left: 5rem;
}

.footer-container {
  display: flex;
}

.iconos {
  height: 90%;
  margin-left: 2rem;
}

.nombres {
  margin-left: 2rem;
  margin-top: 0.2rem;
}

.nombres p {
  font-size: larger;
  margin-bottom: 2.5rem;
}

.logo2 {
  width: 200px;
  height: 150px;
}

@media screen and (max-width: 900px) {
  .v-line {
    display: none;
  }

  footer {
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem;
    justify-content: center;
    align-self: center;
  }

  .footer-container {
    margin-top: 2rem;
    width: 250px;
  }

  .iconos {
    margin-left: 0;
    width: 30px;
    /* height: 20px; */
  }

  .logo2 {
    width: 250px;
    height: 100%;
  }

  .nombres p {
    font-size: 1rem;
  }
}
